* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  background-color: var(--background-color);
  color: white;
}

header {
  padding: 48px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;

  padding: 16px 24px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 12px; /*Espaço entre os elementos*/

  border: 1px solid var(--violet-500);
  background-color: transparent;
  color: var(--white);
}

form {
  padding: 0 48px;

  display: flex;
}

form .habits {
  margin-top: 82px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

form .habit {
  font-size: 32px;

  width: 64px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;
}

form .days {
  margin-left: 32px;

  display: flex;
  gap: 48px;
}

form .day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  font-family: "Roboto Mono", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;

  margin-bottom: 8px;
  text-align: center;

  color: var(--zinc-400);
}

input {
  width: 64px;
  height: 64px;
  border-radius: 8px;

  border: 2px solid var(--zinc-800);
  background-color: var(--zinc-900);
  /*Retira a aparencia*/
  appearance: none;
  -webkit-appearance: none;
}
/*Pseudo-selector*/
input:checked {
  background-color: var(--violet-500);
  border: 2px solid var(--zinc-400);
}
